
<!-- <app-header></app-header> -->
<router-outlet></router-outlet>
<!-- <div class="row">
    <div class="col-md-5">
        <app-res-list [foodsr]="myfood" (foodSelected) = "addToCart($event)"></app-res-list>
        <app-res-list></app-res-list>
    </div>
    <div class="col-md-7">
        <app-cart-list [foodAddedToCart]="shoppingcart"></app-cart-list>
        <app-cart-list></app-cart-list>
    </div>
</div> -->

<!-- <app-homepage></app-homepage> -->
<!-- <app-restaurants></app-restaurants> -->
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-uploadscreen></app-uploadscreen> -->