<!-- <div class="container">
  <div class="row">
        <div class="row">
          <div class="col-sm-4">
            <h3>{{foodSelected.food.foodName}}</h3>
            <h5><b>Quantity: </b>{{foodSelected.quantity}} lbs</h5>
          </div>
          <div class="col-sm-4">
            <h3>Pick up at:</h3>
            <p>{{foodSelected.food.address}}, {{foodSelected.food.pincode}}</p>
          </div>
        </div>
  </div>
</div> -->

<tr >
  <td>{{foodSelected.food.foodName}}</td>
  <td>{{foodSelected.quantity}} lbs</td>
  <td>{{foodSelected.food.address}}, {{foodSelected.food.pincode}}</td>
</tr>

